<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hi, <%= user.name %></h2>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <% if (users.length > 0) {
                for (let i = 0; i < users.length; i++) { %>
                    <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]._id %>">
                        <img src="<%= 'http://localhost:3000/' + users[i].image %>" alt="" width="50px" height="50px">
                        <%= users[i].name %>
                        <% if (users[i].isOnline == 1) { %>
                            <sup class="online-status" id="<%= users[i]._id %>-status">Online</sup>
                        <% } else { %>
                            <sup class="offline-status" id="<%= users[i]._id %>-status">Offline</sup>
                        <% } %>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="col-md-8">
        <h3 class="start-head"> Click to Start the Chat </h3>
        <div class="chat-section">
            <div id="chat-container">

                

            </div>
            <form action="" id="chat-form">
                <input type="text" name="message" placeholder="Enter Message" id="message" class="border" required>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<script>
    var socket = io('/user-namespace', {
        auth: {
            token: '<%= user._id %>'
        }
    });
    var senderId = '<%= user._id %>';
    var receiverId;

    $(document).ready(function() {
        $('.user-list').click(function() {
            var userId = $(this).attr('data-id');
            receiverId = userId; // receiverId'yi güncelliyoruz
            $('.start-head').hide();
            $('.chat-section').show();
            socket.emit('existsChat', { senderId: senderId, receiverId: receiverId });
        });
    });


    // update user online -status
    socket.on('getOnlineUser', function(data){
        $('#'+data.user_id+'-status').text('Online');
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    socket.on('getOfflineUser', function(data){
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').removeClass('online-status');
        $('#'+data.user_id+'-status').addClass('offline-status');
    });

    // chat save of user
    
    $("#chat-form").submit(function(e){
        e.preventDefault();
        var message = $('#message').val();
        $.ajax({
            url: '/save-chat',
            type: 'POST',
            data: {  senderId: senderId, receiverId: receiverId, message: message },
            success: function(response){
                if(response.success){
                    $('#message').val('');
                    let chat = response.data.message;
                    let html = `
                    <div class="current-user-chat">
                        <h5>${chat}</h5>    
                    </div>`;
                    $('#chat-container').append(html); 
                    socket.emit('newChat', response.data);
                    scrollChat();

                }else{
                    alert(data.msg);
                }
            }
            
        }
        );
    });

    socket.on('loadNewChat', function(data){
        if(senderId == data.receiverId && receiverId == data.senderId){
            let html = `
            <div class="distance-user-chat">
                <h5>${data.message}</h5>    
            </div>`;
        $('#chat-container').append(html);   
        scrollChat();
        }
    });

    // load old chats 
    socket.on('loadChats', function(data){
        $('#chat-container').html('');
        var chats = data.chats;
        let html = "";

        for(let x=0; x < chats.length; x++){
            let addClass = '';
            if(chats[x].senderId == senderId){
                addClass = 'current-user-chat';
            }else{
                addClass = 'distance-user-chat';
            }

            html +=` 
            <div class="${addClass}">
                <h5>${chats[x].message}</h5>    
            </div>`;
        };
        $('#chat-container').append(html);
        scrollChat();
    })

    function scrollChat(){
        $('#chat-container').animate({
            scrollTop: $('#chat-container').offset().top + $('#chat-container')[0].scrollHeight
        },0)
    }

</script>

<%- include('layouts/footer.ejs') %>
